* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
    background: radial-gradient(circle at top, #1a1a1a, #000);
    display: flex;
    align-items: center;
    overflow-y: hidden;
    justify-content: center;
    color: #fff;
}

.todo-app {
    width: 360px;
    padding: 25px;
    border-radius: 16px;
    background: #0f0f0f;
    box-shadow: 0 0 25px rgba(0, 255, 200, 0.15);
}

.todo-app h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #00ffd5;
}

.input-box {
    display: flex;
    gap: 10px;
}

.input-box input {
    flex: 1;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #1c1c1c;
    color: #fff;
}

.input-box input::placeholder {
    color: #888;
}

.input-box button {
    padding: 12px 18px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(135deg, #00ffd5, #00bfa6);
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.input-box button:hover {
    transform: scale(1.05);
}
.todo-list {
    list-style: none;
    max-height: 200px;          /* ya max-height */
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 20px;
    scroll-padding: 10px;
}

/* Scrollbar width */
.todo-list::-webkit-scrollbar {
    width: 8px;
    padding-left: 50px;
}

/* Track (background behind thumb) */
.todo-list::-webkit-scrollbar-track {
    background: #111;       /* dark track */
    border-radius: 10px;
    padding-left: 50px;
}

/* Thumb (scroll handle) */
.todo-list::-webkit-scrollbar-thumb {
    background: #00ffd5;    /* neon color */
    border-radius: 10px;
    padding-left: 50px;
    border: 2px solid #111; /* gives spacing around thumb */
}

/* Hover effect */
.todo-list::-webkit-scrollbar-thumb:hover {
    background: #00bfa6;    /* darker neon on hover */
}


.todo-list li {
    background: #1b1b1b;
    padding: 12px 15px;
    border-radius: 10px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 255, 200, 0.1);
    transition: 0.3s;
}

.todo-list li:hover {
    background: #222;
    transform: translateX(5px);
}

.todo-list span {
    font-size: 14px;
}

.delete {
    background: transparent;
    border: none;
    color: #ff4d4d;
    font-size: 16px;
    cursor: pointer;
}
